/* .card-main-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
} */
.addnew {
  display: flex;
  justify-content: end;
}

.navbar-menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.drop-down-list {
  display: flex;
  column-gap: 10px;
}
