<div class="navbar-menu-list">
  <div class="drop-down-list">
    <li class="dropdown" style="list-style-type: none" appDropdown>
      <a style="cursor: pointer" class="dropdown-toggle" role="button"
        >Filter <span class="caret"></span
      ></a>
      <ul class="dropdown-menu" appDropdown>
        <li class="dropdown" style="list-style-type: none">
          <a style="cursor: pointer">Category &raquo;</a>
          <ul class="dropdown-submenu" style="list-style-type: none" *ngFor="let category of categories">
            <li class="dropdown-item">
              <a
                style="cursor: pointer"
                (click)="filterProductsByCategory(category)"
                >{{category}}</a
              >
            </li>
          </ul>
        </li>
        <li class="dropdown" style="list-style-type: none">
          <a style="cursor: pointer">Brand &raquo;</a>
          <ul class="dropdown-submenu" style="list-style-type: none" *ngFor="let brand of brands">
            <li class="dropdown-item">
              <a
                style="cursor: pointer"
                (click)="filterProductsByBrand(brand)"
                >{{brand}}</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a style="cursor: pointer" (click)="clear()" *ngIf="clearFilter">Clear Filter</a>
        </li>
      </ul>
    </li>

    <li class="dropdown" style="list-style-type: none" appDropdown>
      <a style="cursor: pointer" class="dropdown-toggle" role="button"
        >Sort <span class="caret"></span
      ></a>
      <ul class="dropdown-menu">
        <li><a style="cursor: pointer" (click)="clear()">Last Added</a></li>
        <li>
          <a style="cursor: pointer" (click)="sortByPrice('asc')"
            >Price:Low to High</a
          >
        </li>
        <li>
          <a style="cursor: pointer" (click)="sortByPrice('dsc')"
            >Price:High to Low</a
          >
        </li>
      </ul>
    </li>
  </div>

  <div class="navbar-form navbar-right">
    <input
      type="text"
      class="form-control"
      placeholder="Search Products by Category or Brand or Name"
      [(ngModel)]="searchStr"
    />
    |
    <button
      type="submit"
      class="btn btn-default"
      (click)="onSearch()"
      placeholder= "Search Products by category,name,brand"
    >
      Search
    </button>
  </div>
</div>
<ng-container *ngIf="products && !admin">
  <hr />
  <div class="row">
    <div
      class="col-12 col-md-3 col-lg-3"
      *ngFor="let product of products; let i = index"
    >
      <app-products-items
        [products]="product"
        [index]="i"
        [productId]="product.id"
      ></app-products-items>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="products && admin">
  <div class="row">
    <div class="col-12">
      <app-products-listing [products]="products"></app-products-listing>
    </div>
  </div>
</ng-container>
