<div class="card-details">
  <div class="main-images">
    <img src="{{ product.mainImage }}" alt="" />
  </div>
  <div class="main-content">
    <article class="card-body p-5" *ngIf="product">
      <h3 class="title mb-3">{{ product.name }}</h3>
      <p class="price-detail-wrap">
        <span class="price h3 text-warning">
          <span class="num">{{
            product.discountPrice | currency : "INR" : "symbol" : "1.2-2"
          }}</span>
        </span>
      </p>
      <dl class="item-property">
        <dt>Description</dt>
        <dd>
          <p class="text-capitalize">{{ product.description }}</p>
        </dd>
      </dl>
      <div class="features-details">
        <dl class="param param-feature">
          <dt>Brand</dt>
          <dd class="text-capitalize">{{ product.brand }}</dd>
        </dl>
        <dl class="param param-feature" style="margin-left: 10px">
          <dt>Category</dt>
          <dd>{{ product.category }}</dd>
        </dl>
      </div>
      <div class="features-details">
        <dl class="param param-feature">
          <dt>DiscountPrice</dt>
          <dd>{{ product.discountPrice }}</dd>
        </dl>
        <dl class="param param-feature" style="margin-left: 10px">
          <dt>Stock</dt>
          <dd>{{ product.stock }}</dd>
        </dl>
      </div>
      <div *ngIf="product.stock !== 0">
      <div style="display: flex" width:10px >
        
        <label>Quantity : </label>
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="onIncrementCartItem()"
        >
          +
        </button>
        <input
          type="text"
          class="form-control text-center"
          style="width: 44px"
          [(ngModel)]="product.quantity"
          pattern="[1-9][0-9]*"
          min="1"
          [max]="product.stock"
          #quantityInput="ngModel"
          (input)="onChange($event)"
          required
        />
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="onDecrementCartItem()"
        >
          -
        </button>
        <div class="text-danger" *ngIf="quantityInput.invalid && (quantityInput.dirty || quantityInput.touched)">
          <div *ngIf="quantityInput.errors?.['required']">
            Quantity is required.
          </div>
          <div *ngIf="quantityInput.errors?.['pattern']">
            Quantity must be a positive number.
          </div>
        </div>
      </div>
      <hr />
      <div>
      <button
        (click)="onAddProductToCart()"
        class="btn btn-success btn-outline-primary text-uppercase" [disabled]="quantityInput.invalid"
      >
        <i class="fa fa-shopping-cart"></i> Add to cart
      </button>
      </div>
    </div>
      <div *ngIf="product.stock === 0">
        <h1 class="text-danger">Out of Stock</h1>
    </div>
    </article>
  </div>
</div>
