<div class="card-details">
  <div class="main-images">
    <img src="{{ product.mainImage }}" alt="" />
  </div>
  <div class="main-content">
    <article class="card-body p-5" *ngIf="product">
      <h3 class="title mb-3">{{ product.name }}</h3>
      <p class="price-detail-wrap">
        <span class="price h3 text-warning">
          <span class="num">{{
            product.discountPrice | currency : "INR" : "symbol" : "1.2-2"
          }}</span>
        </span>
      </p>
      <dl class="item-property">
        <dt>Description</dt>
        <dd>
          <p class="text-capitalize">{{ product.description }}</p>
        </dd>
      </dl>
      <div class="features-details">
        <dl class="param param-feature">
          <dt>Brand</dt>
          <dd class="text-capitalize">{{ product.brand }}</dd>
        </dl>
        <dl class="param param-feature">
          <dt>Category</dt>
          <dd>{{ product.category }}</dd>
        </dl>
        <dl class="param param-feature">
          <dt>Total Stock</dt>
          <dd>{{ product.totalStock }}</dd>
        </dl>
      </div>
      <div class="features-details">
        <dl class="param param-feature">
          <dt>DiscountPrice</dt>
          <dd>{{ product.discountPrice }}</dd>
        </dl>
        <dl class="param param-feature">
          <dt>Stock</dt>
          <dd>{{ product.stock }}</dd>
        </dl>
      </div>
      <div style="display: flex" width:10px>
        <label>Quantity : </label>
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="onIncrementCartItem()"
        >
          +
        </button>
        <input
          type="text"
          class="form-control text-center"
          style="width: 44px"
          [(ngModel)]="product.quantity"
          readonly
        />
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="onDecrementCartItem()"
        >
          -
        </button>
      </div>
      <hr />
      <button
        (click)="onAddProductToCart()"
        class="btn btn-lg btn-outline-primary text-uppercase"
      >
        <i class="fa fa-shopping-cart"></i> Add to cart
      </button>
    </article>
  </div>
</div>
