<div class="card-details">
  <div class="main-images">
    <img src="{{ product.mainImage }}" alt="" />
  </div>
  <div class="main-content">
    <article class="card-body p-5" *ngIf="product">
      <h3 class="title mb-3">{{ product.name }}</h3>
      <p class="price-detail-wrap">
        <span class="price h3 text-warning">
          <span class="num">{{
            product.discountPrice | currency : "INR" : "symbol" : "1.2-2"
          }}</span>
        </span>
      </p>
      <dl class="item-property">
        <dt>Description</dt>
        <dd>
          <p class="text-capitalize">{{ product.description }}</p>
        </dd>
      </dl>
      <div class="features-details">
        <dl class="param param-feature">
          <dt>Brand</dt>
          <dd class="text-capitalize">{{ product.brand }}</dd>
        </dl>
        <dl class="param param-feature">
          <dt>Category</dt>
          <dd>{{ product.category }}</dd>
        </dl>
        <dl class="param param-feature">
          <dt>Total Stock</dt>
          <dd>{{ product.totalStock }}</dd>
        </dl>
      </div>
      <div class="features-details">
        <dl class="param param-feature">
          <dt>DiscountPrice</dt>
          <dd>{{ product.discountPrice }}</dd>
        </dl>
        <dl class="param param-feature">
          <dt>Stock</dt>
          <dd>{{ product.stock }}</dd>
        </dl>
        <dl class="quantity">
          <label>Quantity</label>
          <input
            (click)="onIncrementCartItem()"
            type="button"
            value="+"
            class="plus"
          />
          <input
            [disabled]="true"
            type="number"
            step="1"
            max="10"
            min="1"
            title="Qty"
            value="1"
            class="qty"
            size="4"
          />
          <input
            (click)="onDecrementCartItem()"
            type="button"
            value="-"
            class="minus"
          />
        </dl>
      </div>

      <hr />
      <button
        (click)="onAddProductToCart()"
        class="btn btn-lg btn-outline-primary text-uppercase"
      >
        <i class="fa fa-shopping-cart"></i> Add to cart
      </button>
    </article>
  </div>
</div>
