<div class="table-responsive" *ngIf="cartItems">
  <h1 class="mb-3">Shopping Cart</h1>
  <span><a href="/products" class="btn btn-primary">Continue Shopping</a></span>
  <div class="row">
    <div
      class="col-12"
      *ngFor="let items of cartItems; let i = index"
    >
      <app-shopping-cart-items
        [item]="items"
      ></app-shopping-cart-items>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Order Summary</h5>
          <hr />
          <p class="card-text">Total Items: {{ totalItems }}</p>
          <p class="card-text">Total Quantity: {{ totalQuantity }}</p>
          <p class="card-text">
            Total MRP: {{ totalPrice | currency : "INR" : "symbol" : "1.2-2" }}
          </p>
          <p class="card-text">
            Total Discount:
            {{ discount | currency : "INR" : "symbol" : "1.2-2" }}
          </p>
          <p class="card-text">
            Total Amount:
            {{ totalDiscountPrice | currency : "INR" : "symbol" : "1.2-2" }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!cartItems" class="alert alert-info">Your cart is empty.</div>
