<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Colabee</a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="'active"><a routerLink="/">Home</a></li>
      <li routerLinkActive="'active"><a routerLink="/products">Products</a></li>
      <li routerLinkActive="'active" *ngIf="isAuthenticated && admin">
        <a routerLink="/dashboard">Dashboard</a>
      </li>
      <li routerLinkActive="'active" *ngIf="isAuthenticated && admin">
        <a routerLink="/orders">Orders</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li routerLinkActive="active" *ngIf="!isAuthenticated">
        <a href="#" routerLink="/auth/signup" style="cursor: pointer"
          ><span class="glyphicon glyphicon-user"></span> Sign Up</a
        >
      </li>
      <li routerLinkActive="active" *ngIf="!isAuthenticated">
        <a href="#" routerLink="/auth/login" style="cursor: pointer"
          ><span class="glyphicon glyphicon-log-in"></span> Login</a
        >
      </li>
      <li *ngIf="isAuthenticated && !admin">
        <a href="#" style="cursor: pointer" routerLink="/shop"
          ><span class="glyphicon glyphicon-log-in"></span> MyCart</a
        >
      </li>
      <li *ngIf="isAuthenticated">
        <a href="#" style="cursor: pointer" (click)="onLogout()"
          ><span class="glyphicon glyphicon-log-in"></span> Logout</a
        >
      </li>
    </ul>
  </div>
</nav>
